
Tarea6.docx
target/
target/classes/JavaApplication160.class
target/classes/Rompecabezas.class
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/Proyecto_2-1.jar
target/Proyecto_2-1.jar
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/maven-archiver/pom.properties
target/classes/Rompecabezas.class
target/classes/JavaApplication160.class
target/classes/JavaApplication160.class
target/classes/Rompecabezas.class
target/maven-archiver/pom.properties
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/Proyecto_2-1.jar
